html {
    font-size: 62.5;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1rem;
}
section{
    background-color: #BBDDEE;
    padding: 1rem;
    margin-block-end: 1rem;
}
.reunaviiva{
    border: 1px solid black;
    padding: 1rem;
}
h1,
h2,
p, 
pre, 
ul{
    margin-block-end: 1rem;
    margin-top: 1rem;
}
h1{
    font-weight: bold;
}
.iso{
    float: left; font-size: 500%; width: 1.2em;
    text-align: center; padding: 0.1em 0.1em 0;
    background: #568; color: white; border: solid white 1px; 
    border-width: 0 0.2em 0.2em 0; margin: 0 0.5em 0.2em 0;
}
.right {
    float: right;
    font-weight: bolder;
    margin: 10px;
}
.pieni {float: left; width: 100px; height: 70px; 
    text-align: center; background: white; color: black; 
    border: solid black 1px; border-width: 0 1px 1px 0; 
    padding: 0 10px 5px 0; 
    margin: -1rem 25px 10px -1rem}
.line {
    background-color: #88AABB;
    height: 40px; 
    border: 1px solid black;
    margin: -1rem -1rem;
}
.left {
    width: 45%; 
    float: left; 
    font-style: italic; 
    padding: 0.5rem;
    background: white; 
    color: black;
    border: solid black 1px;
    border-width: 0 1px 1px;
    margin: -1rem;
    margin-bottom: 20px;
    margin-right: 20px;
}
h4{
    float: right; width: 25%; text-align: left; 
            font-size: 140%; font-weight: bold; font-style: italic; 
            padding: 1em; text-indent: -0.5em; background: white; 
            color: black; border: solid black 1px;
            border-width: 1px 0 1px 1px; margin: 0.2em -1px 0.2em 0.5em;
}